* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 13px;
  font-family: 'Montserrat';
  color: black;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.2em;
  font-family: 'Slabo';
  color: rgb(92, 91, 91);
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

nav {
  width: 100%;
  padding: 2%;
  margin: 0;
  background-color: rgb(50, 141, 141);
  position: fixed;
  top: 0;
  left: 0;
}

.navigationBar {
  margin: 13px 0;
}

hr {
  background-color: rgba(116, 177, 177, 0.842); 
  border: none;
  margin-bottom: 5%;
}

p, .projectBlurb {
  line-height: 22px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.navigationBar a, button a {
  color: white;
  text-decoration: none;
}

.active {
  font-size: 1.4em;
}

button {
  box-sizing: content-box;
  padding: 2%;
  width: 100px;
  cursor: pointer;
  border: none;
  margin: 5px;
  border-radius: 2px;
  font-family: 'Montserrat';
  color: white;
}

.viewCode, .viewProject {
  background-color: rgba(116, 177, 177, 0.842);
}

.homePage {
  padding: 0 15% 10%;
  margin-top: 10%;
  color: rgb(50, 141, 141);
  background-image: url("mountaincar.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutPage, .projects {
  padding: 3% 10% 10% 10%;
}

.aboutMe {
  margin: 20px;
  padding: 0;
}

.projectGroup {
  padding: 3% 0;
  margin: 20px;
}

.screengrab {
  width: 70%;
  margin: 0;
}

.beerPhoto {
  width: 55%;
  margin: 0;
}

.projectTitle, .projectBlurb {
  margin: 5px;
}

.contactInfo, .languages {
  padding: 3%;
  color: rgb(50, 141, 141);
}

.contact {
  padding: 4%;
  width: 100%;
  color: rgb(50, 141, 141);
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
}

.buttonIcon {
  height: 35px;
  width: 35px;
  background: none;
}

@media screen and (min-width: 760px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5em;
  }
  nav {
    padding: 1%;
  }
  .homePage {
    margin-top: 70px;
    padding: 10% 15%;
  }
  .aboutPage, projects {
    padding: 3% 8% 8% 8%;
  }
  p, .projectBlurb {
    line-height: 40px;
  }
  .aboutMe {
    margin: 40px;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
  button {
    width: 170px;
  }
}