* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat';
  color: black;
}

h1 {
  font-size: 1.8em;
  font-family: 'Merriweather', serif;
  color: rgb(92, 91, 91);
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

.tagline {
  font-size: 1.2em;
}

nav {
  width: 100%;
  padding: 2%;
  margin: 0;
  font-size: 0.9em;
  background-color: rgb(50, 141, 141);
  position: fixed;
  top: 0;
  left: 0;
}

.navigationBar {
  margin: 13px 0;
  padding: 0;
}

hr {
  background-color: rgba(116, 177, 177, 0.842);
  border: none;
  margin-bottom: 7%;
}

p,
.projectBlurb,
.contactBlurb,
.projectTitle {
  line-height: 22px;
  margin: 10px 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.navigationBar a,
button a {
  color: white;
  text-decoration: none;
}

.active {
  font-size: 1.4em;
}

button {
  box-sizing: content-box;
  padding: 4% 3%;
  width: 100px;
  cursor: pointer;
  border: none;
  margin: 5px;
  border-radius: 2px;
  font-family: 'Montserrat';
  color: white;
}

.pageLink:hover,
.resumeLink:hover {
  font-size: 1.2em;
  color: black;
  transition: 0.5s;
}

.viewCode,
.viewProject {
  background-color: rgba(116, 177, 177, 0.842);
}

.viewCode:hover,
.viewProject:hover {
  background-color: rgb(50, 141, 141);
  transition: 0.5s;
}

.homePage {
  padding: 15% 12%;
  margin-top: 12%;
  color: rgb(92, 91, 91);
  background-image: url('geometric2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.titleLine {
  position: relative;
  animation: nameAnimation 1s ease-in;
}

.whatToWearSection {
  display: flex;
  flex-direction: column;
  align-content: center;
}

button #whatToWearAppProject {
  margin-top: 0;
}

#whatToWearAppProject {
  padding: 2% 3%;
  margin-top: 0;
}

.videoPlayer {
  margin: 0 auto;
  height: 350px;
  width: 200px;
  transition-timing-function: ease-out;
}

@keyframes nameAnimation {
  0% {
    transform: scale(1.1, 1.1) translateY(-150%);
  }
  100% {
    transform: scale(1, 1) translateY(0%);
  }
}

.projects {
  padding: 3% 10% 10% 10%;
}

.projectList {
  margin: 10% 0 5%;
}
.aboutPage {
  padding: 8%;
}

.aboutMe {
  margin: 10px 20px 20px 20px;
  padding: 0;
  text-align: left;
}

.projectGroup {
  padding: 3% 0;
  margin: 30px 0;
}

.projectBlurb {
  text-align: left;
}

.screengrab {
  width: 80%;
  margin: 0;
}

.beerPhoto {
  width: 55%;
  margin: 0;
}

.contactInfo,
.languages {
  padding: 3%;
}

.languages {
  max-width: 90%;
  margin: auto;
}

#htmlTag,
#cssTag,
#jsTag,
#reactTag,
#nodeTag,
#jqueryTag {
  display: none;
}

.contact {
  padding: 4%;
  width: 100%;
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
}

.buttonIcon {
  height: 35px;
  width: 35px;
  background: none;
}

@media screen and (min-width: 760px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.6em;
  }
  .titleLine {
    font-size: 3em;
    margin: 2%;
  }
  nav {
    padding: 1%;
  }
  .homePage {
    margin-top: 70px;
    padding: 15%;
    background-size: 540px;
  }
  .aboutPage {
    padding: 3% 8% 8% 8%;
  }
  .projects {
    padding: 3% 15% 8% 15%;
  }

  .projectTitle {
    font-size: 1.5em;
  }
  p,
  .projectBlurb {
    line-height: 40px;
    text-align: center;
  }
  .projectBlurb {
    margin: 10px;
  }
  .projectList {
    margin: 1%;
  }
  .aboutMe {
    margin: 40px;
    text-align: center;
  }
  .screengrab {
    width: 40%;
  }
  #whatToWearScreengrab {
    width: 50%;
  }
  .videoPlayer {
    height: 410px;
    width: 235px;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
  #whatToWearAppProject,
  button {
    width: 170px;
    font-size: 16px;
    padding: 2%;
  }
  .contactInfo {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 900px) {
  .videoPlayer {
    height: 500px;
    width: 285px;
  }
}
